<!DOCTYPE html>
<html lang=”en”>
<head>
    <meta charset=”UTF-8″ />
    <meta name="viewport" content="width=devicce-width, initial-scale=1.0">
    <title>Entrega 05 Websocket y handlebars</title>
    <h1> --------------- Esta es la entrega Desafío de Websocket ---------------------</h1>
</head>
<body> 
    {{{body}}}
</body>
</html>